*{
    color:var(--text-color);
}
.menu{
    width: 100%;
    height: auto;
    background: var(--surface-a);
    border-radius:20px ;
}
.font{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}